@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but still allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter-horizontal {
  width:2px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.split {
  height: 100%;
}

.split > div {
  overflow: auto; /* Ensures content scrolls if it overflows */
}


.custom-marker {
  transition: all 200ms ease-in-out;
}

.custom-html-content {
  width: 40px;
  height: 20px;
  transition: all 200ms ease-in-out;
  /* border: 1px solid #ffa700; */

  border-radius: 10px;
  /* border-radius: 50%; */
  padding: 0px;

  background: #0057e7;
  /* background: #FFF7D1; */
  border:0px;
}

.custom-html-content.selected {
  /* background: #22ccff; */
  background: red;
}

.visualization-marker {
  width: 8px;
  height: 8px;
  /* background: #ffa700; */
  background: red;
  border-radius: 50%;
  border:0px
  /* border: 1px solid #0057e7; */
}

.map-container {
  width: 100%; /* Adjust to your desired width */
  height: 100%; /* Set to your desired height */
  position: relative; /* Make sure the position is relative for the map */
}

.scrollbar-hide-x::-webkit-scrollbar {
  display: none; /* Hide scrollbar in webkit browsers (Chrome, Safari, Edge) */
}

.scrollbar-hide-x {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
